@font-face {
    font-family: "YuseiMagic";
    src: url("../fonts/YuseiMagic-Regular.ttf") format('truetype');
   }


*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "YuseiMagic";
}

body{
    /* background-color: #aec4ff; */
    /* background-color: #daecff;   */
    background-color: #cce5ff;  
    /* background-color: rgb(183, 200, 255); */
    background-image: url("../img/container_bg.png");
}



