.dialogWindowContainer {
  width: 100vw;
  display: grid;
  justify-content: center;
}

.dialogWindow, .dialogWindow_hidden, .dialogWindow_nonExistent {
    width: 650px; /* # The position of the window depends on it  */
    /* height: 20rem; */
    /* background-color: dimgrey; */
    animation-duration: 0.8s;
    position: fixed;
    left: calc((100vw - 650px) / 2); /* # The position of the window depends on it  */
    display: grid;
    grid-template-columns: 150px 500px;
}

.dialogWindow{
    top: calc(100vh - 160px);
    animation-name: dialogWindow_slideIn;
}

@keyframes dialogWindow_slideIn {
    from {
      translate: 0 160px;
    }
  
    to {
      translate: 0 0;
    }
  }

.dialogWindow_hidden {
    top: 100vh;
    animation-name: dialogWindow_slideOut;
}

@keyframes dialogWindow_slideOut {
    from {
      translate: 0 -160px;
    }
  
    to {
      translate: 0 0;
    }
  }

.dialogWindow_nonExistent {
    top: 100vh;
}

.dialogWindow__img {
  width: 150px;
}

.speechBubble {
	position: relative;
	/* background: #e0e8ff; */
  background:#edf5fd;
	border-radius: 10px;
  padding: 20px;
  height: 150px;
  /* font-size: 30px; */
  font-size: 30px;
  display: grid;
  /* justify-content: end; */
}

.speechBubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-right-color: #edf5fd;
	border-left: 0;
	border-top: 0;
	margin-top: -17px;
	margin-left: -34px;
}

#tryAgainBtn {
  border-style: none;
  background-color: #54b564;
  font-size: 21px;
  color: #edf5fd;
  /* font-size:large; */
  border-radius: 5px;
  width: 150px;
  height: 40px;
  box-shadow: -10px 10px #2a5a32;
  transition: 0.1s;
  justify-self: end;
  position: relative;
  top: -20px; 
}

#tryAgainBtn:hover {
  transform: skew(-10deg);
}