.flipcard {
    position: relative;
    display:block;
    width: 130px; /* #flipcard_picture_width */
    height: 180px;
    perspective: 300px;
    border-radius: 10px;
    top: 0;
    transition: 0.1s;
}

.flipcard:hover{
    top: -3px;
}

.flipcard__frontSide_obscure, .flipcard__backSide_obscure, 
    .flipcard__frontSide_exposed, .flipcard__backSide_exposed {
    border-radius: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.8s;
}

.flipcard__frontSide_obscure, .flipcard__frontSide_exposed {
    /* background-color: rgb(164, 204, 255); */
    background-color: #edf5fd;
    /* background-color: #00217c; */
    /*
    I have to make the background color for an exposed card
    a little brighter to lighten it up a bit when the card flips
    or we need to lighten it up when we get a pair of cards with
    the same picture
    */
}

.flipcard__backSide_obscure, .flipcard__backSide_exposed {
    /* background-color: darkgoldenrod; */
    background-image: url("../img/flipcard__backSide.png");
    background-size: contain;
    opacity: 85%;
    /* background-repeat: no-repeat; */
}

.flipcard__frontSide_obscure{
    transform: rotateY(180deg);
}

.flipcard__frontSide_exposed {
    transform: rotateY(360deg) ;
}

.flipcard__backSide_exposed {
    transform: rotateY(180deg) ;
}

.flipcard__picture {
    width: 130px; /* #flipcard_picture_width */
    user-select: none;
    position: relative;
    top: 25px;
}



