.gamingTable, .gamingTable_faded {
    /* width: 100vw; */
    /* height: 100vh; */
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:  repeat(3, 1fr);;
    grid-gap: 10px 10px;
    transition: 0.8s;
}

.gamingTable_faded {
    filter: opacity(50%);
    /* background-color: darkgray; */
}