.slidingWindow {
    width: 100vw;
    display: grid;
    justify-content: center;
    position: fixed;
    animation-duration: 0.8s;
}

.slidingWindow_destroyToTheLeft {
    left: -100vw;
    animation-name: destroyToTheLeft;
}

@keyframes destroyToTheLeft {
    from {
        translate: 100vw 0;
      }
    
      to {
        translate: 0 0;
      }
}

.slidingWindow_destroyToTheRight {
    left: 100vw;
    animation-name: destroyToTheRight;
}

@keyframes destroyToTheRight {
    from {
        translate: -100vw 0;
      }
    
      to {
        translate: 0 0;
      }
}

.slidingWindow_comingToTheRight {
    animation-name: comingToTheRight;
}

@keyframes comingToTheRight {
    from {
        translate: -100vw 0;
      }
    
      to {
        translate: 0 0;
      }
}

.slidingWindow_comingToTheLeft {
    animation-name: comingToTheLeft;
}

@keyframes comingToTheLeft {
    from {
        translate: 100vw 0;
      }

      to {
        translate: 0 0;
      }
}