.welcomeScreen {
    position: relative;
    width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemonLogo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.welcomePicture {
    width: 520px;
}

#letsPlayBtn {
    position: absolute;
    top: 550px;
    /* left: 400px; */
    right: 40px;
    width: 250px;
    height: 90px;
    background-color: #54b564;
    border-style: none;
    border-radius: 5px;
    /* font-size:xx-large; */
    font-size: 31px;
    color:#e8eeff;
    box-shadow: -10px 10px #2a5a32;
    /* border-top-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 10px; */
    transition: 0.1s;
}

#letsPlayBtn:hover {
    transform: skew(-10deg);
}